body {
    font-family: Arial, sans-serif;
    background-color: #abd0ee;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    margin: 0;
    padding: 0;
}

h1 {
    color: #000000;
}

#task-list, #done-list {
    list-style: none;
    padding: 0;
}

li {
    background-color: rgba(250, 250, 250, 0.7);
    padding: 15px;
    margin: 10px 0;
    border-radius: 7px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

li.checked {
    background-color: #cfd1d4;
}

i{
    font-size: 25px;
}

button {
    background-color: #96deff;
    color: #0056b3;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
}

input[type="text"] {
    width: 80%;
    padding: 8px;
    margin-right: 10px;
    margin-left: 10px;
    border: none;
    border-bottom: 2px solid;
    background-color: #96deff;
    outline: none;
}

section {
    margin: 20px 0;
    padding: 10px;
}

h2 {
    color: #000000;
}

input[type="checkbox"] {
    margin-right: 10px;
}

.task-container {
    background-color: #96deff;
    padding: 20px;
    width: 80%;
    max-width: 800px;
}

@media (max-width: 600px) {
    .task-container {
        width: 90%;
    }
}